body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
    color: #999999;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    background-color: #3b3b3b;
    text-transform:uppercase;
}

#valuelabel {
	font-family: 'Oswald', sans-serif;
	color: #FFF;
}

#formwrapper {
    /*text-align:center;*/
    width: 100%;
	display:block;
}

#selector {
    width: 20%;
	margin-left: 40px;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
}

#selector2 {
    width: 20%;
	margin-left: 10px;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
}

#formlabel {
    width: 20%;
	margin-right: 50px;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
	text-align:right;
}
